body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
.container {
    width: 60%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
.header {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    position: relative;
}
.announcement {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}
.announcement-item {
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}
.announcement-item .number {
    background-color: #c62828;
    color: #fff;
    font-size: 24px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
}
.announcement-item .text {
    flex-grow: 1;
    font-size: 16px;
    color: #333;

}
.announcement-item .date {
    background-color: #efe4e4;
    color: #c62828;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 14px;
    width: 6rem;
    display: flex;
}
.arrow {
    text-align: center;
    margin-top: 20px;
}
.arrow i {
    color: #c62828;
    font-size: 24px;
}
  .announcement-item:hover {

    background-color: #f9f9f9; 
  transform: scale(1); 
  box-shadow: 0 8px 20px rgba(202, 26, 26, 0.3);
    
  }
  
 .logo{
    margin-top: -1.2rem;
 }  
 

 .announcement-item:hover .description {
    max-height: 100px;
    padding: 10px;

}
.description {
    position: relative;
    overflow: hidden; 
}

.description {
    height: 70%;
    font-size: medium;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.5s ease,opacity 0.5s ease;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}


.description:hover {
    transform: translateY(0); 
    opacity: 1;
}
