* {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    position: relative;
}

.announcement {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.announcement-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
    transition: background-color 0.3s ease;
    border: 1px solid #131212;
}

.announcement-item .number {
    background-color: #d01010;
    color: #fff;
    font-size: 24px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
}

.announcement-item .text {
    flex-grow: 1;
    font-size: 16px;
    color: #767474;
    margin-right: 10px;
}

.announcement-item .date {
    background-color: #efe4e4;
    color: #c62828;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
}

.arrow {
    text-align: center;
    margin-top: 20px;
}

.arrow i {
    color: #c62828;
    font-size: 24px;
}

.announcement-item:hover {
    background-color: #f9f9f9; 
    box-shadow: 0 8px 20px rgba(202, 26, 26, 0.3);
}

.logo {
    margin-top: -1.2rem;
}

.announcement-item .description {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #333; 
  background-color: rgba(255, 255, 255, 0.9); 
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
  width: 100%;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 10;
}


.announcement-item:hover .description {
  display: block;
  opacity: 1;
}


.announcement-item {
  position: relative;
  overflow: visible; 
}

 .buttonseemore{
  display: flex;
  justify-content: center;
 }
button {
    --primary-color: #da1818;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
  }
  
  button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  button:hover {
    background-color: var(--hover-color);
  }
  
  button:hover .arrow {
    background: var(--secondary-color);
  }
  
  button:hover .arrow:before {
    right: 0;
  }
  a {
    background: transparent;
    color: #fff;
    text-decoration: none;

  }