<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Announcement page</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../../css/front-page/navbar.css">
</head>
<body>
    <header onload="updateAnouncement()">
    <!-- navbar -->
      <div class="header-container">
        <div class="logotext">
            <h2>Learning <span class="amp">&</span> Development</h2>
        </div>

        <div class="search-bar-nav">
            <input type="text" placeholder="Search">
        </div>

        <div class="header-buttons">
            <a href="../announcement-seperate-page/index.html" style="text-decoration: none;">
                <button class="announcements" id="announcement">
                    <span class="bell-icon">🔔</span> 
                    <span class="badge" id="badge">0</span>
                </button>
            </a>
        </div>
    </div>

    <div class="nav-container">
        <nav>
            <ul>
                <li><a href="../../../index.html">Home</a></li>
                <li><a href="../user/CalenderPage.html">Calendar</a></li>
                <li><a href="../user/NewsletterSapperatePage.html">Newsletter</a></li>
                <li><a style="color: red;"  href="#">Announcement</a></li>
                <li><a  href="../gallery.html">Gallery</a></li>
            </ul>
        </nav>
    </div>
    <!-- navbar -->
    </header>
    <div class="main-content">
        <div class="header-wrapper">
            <img src="announcement-images/campaign_24dp_BB271A_FILL0_wght400_GRAD0_opsz24.png" class="announcement-icon" alt="Campaign Icon" /> <!-- Directly include the image -->
            <h1>Announcements</h1>
        </div>
        
        <div class="announcement-container" id="announcementContainer">
        </div>
        <button id="showAllButton" style="display: none; margin-top: 20px;">Show All Announcements</button>

    </div>
    <script type="module" src="javascript.js"></script>
</body>
</html>
