* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
}

body {
    font-family: "Montserrat";
    background-color: #f4f4f4;
    margin: 0;
    padding: 0 20px 20px 20px;
}

header {
    height: 20vh; 
}

.header-container {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px;
}

.logotext {
    font-size: 18px; 
    font-weight: bold;
    color: #D42027;
}

.logotext .amp {
    color: black; 
}

.search-bar {
    margin-left: 4cm; 
}

.search-bar input {
    width: 10cm; 
    padding: 10px;
    border: 2px solid #D42027;
    border-radius: 25px;
}
.suggestions-container {
    position: absolute;
    background-color: white;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    z-index: 1000;
}

.suggestions-container div {
    padding: 10px;
    cursor: pointer;
}

.suggestions-container div:hover {
    background-color: #f0f0f0;
}


.header-buttons {
    display: flex;
    align-items: center; 
}

.bell-icon {
    color: #D42027;
    font-size: 20px; 
}

.nav-container {
    display: flex;
    justify-content: center; 
    margin-top: 10px; 
    box-shadow: 0 2px  rgba(0, 0, 0, 0.1); 
}

nav {
    display: flex;
}

nav ul {
    display: flex; 
    align-items: center;
    gap: 50px; 
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    padding-bottom: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #5F2A2A;
    font-size: 15px;
    transition: color 0.3s ease;
    font-weight: bold; 

}

nav ul li a:hover {
    color: #D42027;
}

.announcements {
    position: relative;
}

.announcements .badge {
    color: white;
    background-color: #D42027; 
    border-radius: 50%;
    padding: 5px 7px;
    font-size: 15px;
    position: absolute;
    top: -7px;
    right: -15px;
}

.main-content {
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header-wrapper {
    display: flex;
    align-items: center; 
    margin-bottom: 20px;
}

.announcement-icon {
    width: 40px; 
    height: 40px;
    margin-right: 10px; 
}

h1 {
    text-align: center;
}

.announcement-container {
    margin-top: 20px;
}
.icon-wrapper {
    display: inline-block; 
    margin-right: 10px; 
}

.red-circle {
    width: 20px; 
    height: 20px; 
    background-color: red;
    border-radius: 50%;
    position: relative; 
}

.white-circle {
    width: 14px; 
    height: 14px; 
    background-color: white; 
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: background-color 0.3s;
}

.card:hover .white-circle {
    background-color: red; 
}

.card {
    background: #ffffff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, background-color 0.2s ease;
    display: flex; 
    flex-direction: column; 
}

.icon-wrapper {
    display: flex; 
    align-items: center; 
    margin-bottom: 5px; 

}
button {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 2px solid #D42027;
    border-radius: 25px;
    background-color: white;
    color: #D42027;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f8e3e3;
}


.card h3 {
    margin: 0;
    margin-left: 10px;
    font-weight: bold;
}

.card p {
    margin: 0; 
    margin-left: 30px;
}

.card .description {
    margin-top: 10px;
    margin-bottom: 10px; 
    line-height: 1.5; 
    margin-left: 30px;
}


.card:hover {
    transform: translateY(-5px); 
    background-color: #ecb8bc; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); 
}


