<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Items | Admin</title>
    <link rel="stylesheet" href="../../css/adminMenuitems.css">
</head>
<body>
    <div class="menuHeader">
      
            <h3>Menu Item</h3>

     
    
        <div class="buttonadd">

            <button class="addMenu" id="addMenu">Add new</button>
        </div>
       
 
    </div>
    <div class="menuitemslist" >
        
         <div class="leftbox">
            <h3 class="menuHead" >Active Menu</h3>   
            <div class="left" id="left">
           
                <!-- <ul id="activeMenuList" style="min-height: 400px;">
                    
                </ul> -->
            </div>
         </div>
        
         <div class="rightbox">
            <h3 class="menuHead">Disabled Menu</h3>
            <div class="right" id="right">
                
                <!-- <ul id="disabledMenuList" style="min-height: 400px;"> -->
                    <!-- Dynamic content will be appended here -->
                <!-- </ul> -->
            </div>
         </div>
        
    </div>
    
    <div class="addnewmenu" id="addnewmenu" style="display: none;">
        <form id="uploadForm">
            <div class="menuformtitle">

                <label for="image" style="font-weight: bold;">Add New Menu</label> <p id="closebutton" style="font-size: larger;">X</p>
            </div>
            <input type="file" id="image" name="image" accept="image/*" required><br><br>

    
            <input type="text" id="title" name="title" placeholder="Item name" required><br><br>
    
            <input type="url" id="url" name="url" placeholder="URL" required><br><br>
       
            <button type="submit" id="submit">Submit</button>
        </form>
    </div>
    <script type="module" src="../../js/admin/addmenu.js"></script>
</body>
</html>