<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/admin.css">
    <title>Admin | L&D Portal</title>
</head>

<body>

    <div class="container">
        <div class="white"></div>
        <div class="blue"></div>
    </div>
    <hr class="hr">
    <img class="logo" src="../../images/experion-logo.png" alt="" width="15%">
    <div class="login-section">
        <h2>LOGIN</h2>
        <form action="" class="forms">
            <label for="username"></label>
            <input type="text" id="username" placeholder="Username">
            <label for="password"></label>
            <input type="text" id="password" placeholder="Password">
            <input type="button" class="button" value="Sign In">
        </form>
    </div>

</body>

</html>