<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/admin/admin.css">
    <title>Admin | L&D Portal</title>
</head>

<body>

    <div class="container">
        <div class="white"></div>
        <div class="blue"></div>
    </div>

    <hr class="hr">
    <img class="logo" src="../../images/experion-logo.png" alt="" width="15%">
    <div class="login-section">
        <h2>LOGIN</h2>
        <form id="loginForm" action="" class="forms">
            <input type="text" id="email" placeholder="Username">
            <input type="password" id="password" placeholder="Password">
            <input type="submit" class="button" value="Sign In">
        </form>
        <p id="error-message" style="color: red;"></p>
    </div>

</body>
<script type="module" src="../../js/admin-login.js"></script>

</html>