* {
    border: 0px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
}

#calendar {
    width: 400px;
    height: auto;
    font-size: xx-small;
    border: solid black 1px;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

:root {
    --fc-border-color: transparent;
    --fc-today-bg-color: rgba(220, 20, 60, 0.5);
    --fc-event-bg-color: rgba(220, 20, 60, 1)
}

.fc-daygrid-day {
    border: none;
    height: 50px;
    width: 50px;
}

.fc-daygrid-day-number {
    display: flex;
    justify-content: center;
    width: 150px;
}

.fc-daygrid-event {
    border: none;
}

.fc-col-header-cell {
    border: none;
    height: 30px;
    color: rgba(60, 60, 67, 0.3);
}
