* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.white {
    background-color: white;
    width: 50vw;
    height: 100vh;
}

.blue {
    background-color: rgb(100, 162, 245);
    width: 50vw;
    height: 100vh;
}

.hr {
    position: absolute;
    top: 10%;
    left: 3%;
    height: 1px;
    width: 47vw;
    background-color: black;
}

.logo {
    position: absolute;
    top: 13%;
    left: 3%;
}

.login-section,
.reset-password-container {
    position: absolute;
    background-color: white;
    color: rgb(100, 162, 245);
    border: 4px solid rgb(100, 162, 245);
    border-radius: 10px;
    width: 40%;
    height: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email,
#password,
#adminEmail {
    padding-left: 5px;
    margin-top: 8%;
    height: 25px;
    width: 220px;
    border-radius: 10px;
    border: solid 1px black;
}

.button,
.submitButton {
    width: 80px;
    font-size: 10px;
    padding: 5px 12px;
    color: white;
    background-color: rgb(77, 77, 77);
    border: none;
    border: 4px solid rgb(77, 77, 77);
    border-radius: 20px;
    margin-top: 8%;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(35, 35, 35);
    border-color: rgb(35, 35, 35);
}

a {
    font-size: xx-small;
}

.error {
    color: red;
    position: absolute;
    font-size: x-small;
    bottom: 75px;
    left: 145px;
    display: none;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .logo{
        width: 150px;
        position: absolute;
        /* left: 50px; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .white,
    .blue {
        width: 100vw;
        height: 50vh;
    }

    .hr {
        width: 90%;
        left: 5%;
        top: 5%;
    }

    .login-section,
    .reset-password-container {
        width: 80%;
        height: 50%;
    }

    #email,
    #password,
    #adminEmail {
        width: 180px;
    }

    .button,
    .submitButton {
        width: 60px;
        font-size: 12px;
    }

    .error {
        font-size: smaller;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 480px) {
    .container {
        flex-direction: column;
    }

    .white,
    .blue {
        height: 50vh;
    }

    .login-section,
    .reset-password-container {
        width: 90%;
        height: 60%;
        top: 60%;
        transform: translate(-50%, -60%);
    }

    #email,
    #password,
    #adminEmail {
        width: 150px;
    }

    .button,
    .submitButton {
        width: 50px;
        font-size: 10px;
    }

    .error {
        font-size: xx-small;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
    }
}