<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/gallery/gallery.css">
  </head>
  <body onload="getCategories()" >
    <header>
      <div class="g-logo">
        <h1>Gallery</h1>
      </div>
      <div class="gallery-header">
        
        <nav id="nav-bar">
          <ul id="nav-ul">
           <li onclick="getFiles(event)">All</li>
          </ul>
        </nav>
        <!-- <div class="search">
          <input type="text" placeholder="Search">
        </div> -->
      </div>
      <div class="h-line"></div>
    </header>
    <div class="image-content" id="image-content">

    </div>
    <script type="module" src="../js/front-page/gallery.js"></script>
  </body>
</html>
