<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/gallery/gallery.css">
  </head>
  <body onload="getAllFiles()">
    <header>
      <div class="g-logo">
        <h1>Gallery</h1>
      </div>
      <div class="gallery-header">
        
        <nav>
          <ul>
            <li>All</li>
            <li>Training</li>
            <li>Events</li>
            <li>Awards</li>
          </ul>
        </nav>
        <div class="search">
          <input type="text" placeholder="Search">
        </div>
      </div>
      <div class="h-line"></div>
    </header>
    <script type="module" src="../js/front-page/gallery.js"></script>
  </body>
</html>
