<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="../css/gallery/gallery.css">
    <link rel="stylesheet" href="../css/front-page/navbar.css">
  </head>
  <body onload="getCategories()">
    <header onload="previewAllFiles()">
      <!-- navbar -->
      <div class="header-container">
        <div class="logotext">
            <h2>Learning <span class="amp">&</span> Development</h2>
        </div>

        <div class="search-bar-nav">
            <input type="text" placeholder="Search">
        </div>

        <div class="header-buttons">
            <a href="../announcement-seperate-page/index.html" style="text-decoration: none;">
                <button class="announcements" id="announcement">
                    <span class="bell-icon">🔔</span> 
                    <span class="badge" id="badge">0</span>
                </button>
            </a>
        </div>
    </div>

    <div class="nav-container">
        <nav>
            <ul>
                <li><a href="../../../index.html">Home</a></li>
                <li><a href="../pages/user/CalenderPage.html">Calendar</a></li>
                <li><a href="../pages/user/NewsletterSapperatePage.html">Newsletter</a></li>
                <li><a  href="../pages/announcement-seperate-page/index.html">Announcement</a></li>
                <li><a style="color: red;" href="#">Gallery</a></li>
            </ul>
        </nav>
    </div>
    <!-- navbar -->
      <div class="gallery-header">
        
        <nav id="nav-bar">
          <ul id="nav-ul">
           <li onclick="getFiles(event)" id="list-elemnts">All</li>
          </ul>
        </nav>
        <!-- <div class="search">
          <input type="text" placeholder="Search">
        </div> -->
      </div>
      <!-- <div class="h-line"></div> -->
    </header>
    

      <div class="image-content" id="image-content" >
        
      </div>
    
    <script type="module" src="../js/front-page/gallery.js"></script>
  </body>
</html>
