<html>
<head>
    <title>Announcement</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/LnDpage/components/css/front-page/Announce.css">
</head>
<body>
    <div class="container">
        <div class="header">Announcement</div>
        <div class="announcement">
            <div class="logo"><img src="/LnDpage/components/assets/experionRhombus-Logo.png" alt="logo"></div>
            <!-- <div class="announcement-item">
                
                <div class="number">1</div>
                <div class="text">Mastering Ansible Playbooks: Build & Deploy with Confidence</div>
                <div class="date">15/10/2024</div>
            </div>
            <div class="announcement-item">
                <div class="number">2</div>
                <div class="text">Learn Java 8 key features for Developers/Programmers in 60 minutes</div>
                <div class="date">15/10/2024</div> -->
            </div>
        </div>
        <div class="arrow">
            <i class="fas fa-chevron-down"></i>
        </div>
    </div>
    <script type="module" src="../../js/front-page/Announcement.js"></script>
</body>
</html>