<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/SideBar-css/calender-1.css">
    <title>L&D | Calendar</title>
    <link rel="stylesheet" href="/components/css/front-page/calender-1.css">
</head>
<body>
    <div class="header">Calendar</div>
    <div id="calendar"></div>
</body>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
<script type="module" src="../../js/admin/calendar-1.js"></script>
<!-- <script type="module" src="../../js/front-page/calendar.js"></script> -->

</html>