<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calender Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../css/front-page/CalenderPage.css">
    <link rel="stylesheet" href="../../css/front-page/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="header-container">
        <div class="logotext">
            <h2>Learning <span class="amp">&</span> Development</h2>
        </div>

        <div class="search-bar-nav">
            <input type="text" placeholder="Search">
        </div>

        <div class="header-buttons">
            <a href="../announcement-seperate-page/index.html" style="text-decoration: none;">
                <button class="announcements" id="announcement">
                    <span class="bell-icon">🔔</span> 
                    <span class="badge" id="badge">0</span>
                </button>
            </a>
        </div>
    </div>

    <div class="nav-container">
        <nav>
            <ul>
                <li><a href="../../../index.html">Home</a></li>
                <li><a  style="color: red;" href="#">Calendar</a></li>
                <li><a href="../../pages/user/NewsletterSapperatePage.html">Newsletter</a></li>
                <li><a  href="../announcement-seperate-page/index.html">Announcement</a></li>
                <li><a href="../gallery.html">Gallery</a></li>
            </ul>
        </nav>
    </div>
    <div class="main" style="background-color: #DC143C;">
        <h1>
            Training Calendar
        </h1>
    </div>
    <div class="contents" id="eventContainer">
        <div id="calendarImagePreview" class="calendar-preview"></div>
        <!-- <div id="pageSideBar"></div> -->
        <!-- Sidebar (40%) -->
  <div id="pageSideBar" class="sidebar">
    <h2>📢 Announcements</h2>
    <ul class="announcement-list">
      <li>
        <h3>No Announcements !</h3>
        <p>.................</p>
      </li>

    </ul>
    <button class="show-more">Show More</button>

    <div class="gallery-preview" id="gallery-preview-list">
      <h2>Photo Gallery</h2>
      <ul class="photo-list" style="  list-style-type: none;">
<li>

    <img src="https://firebasestorage.googleapis.com/v0/b/lndvconnect-6f4ac.appspot.com/o/image%2FSecurity%20Incidents.png?alt=media&token=ebfc9cfb-0eba-46a5-b19b-eb8a2e5a279d" alt="Gallery">
</li>
        </ul>
    </div>
  </div>
    </div> 
    <script >
        function closeCurrentTab() {

window.close(); // Close the current tab
}
    </script> 
    
    <script type="module" src="../../js/front-page/CalendarSapperatePage.js"></script>
</body>
</html>