<html>
 <head>
  <link rel="stylesheet" href="insight.css">
 </head>
 <title>Leader insights</title>
 <body>
    
  <div class="container">
   <div class="header"> <h2>
    Insights from our Leaders
   </h2></div>
    <img src="/LnDpage/components/assets/experionRhombus-Logo.png" alt="logo">
    
   </div>
   
  </div>

  <swiper-container class="mySwiper" navigation="true">
    <swiper-slide>
        <div class="content"></div>
</swiper-slide>
    <swiper-slide>Leader Insight</swiper-slide>

  </swiper-container>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>




  <script type="module" src="../../js/front-page/insight.js"></script>
 </body>
</html>