<html>
 <head>
  <link rel="stylesheet" href="insight.css">
 </head>
 <title>Leader insights</title>
 <body>
  <div class="container">
   <div class="header"></div>
    <div  class="icon" ><img src="Screenshot 2024-10-23 000212.png" alt="logo"></div>
    <h2>
     Insights from our Leaders
    </h2>
   </div>
   <div class="content">
    <div class="arrow">
     &lt;
    </div>
    <div class="profile">
     <img alt="Profile picture of Leader" height="60" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRReA0UDe36VbVKGRcnxpEOGyA9LzC5kqJGyA&s" width="60"/>
     <div class="info">
      <p class="name">
       Pratheep Kumar S
      </p>
      <p class="title">
       AGM - Learning and Development
      </p>
     </div>
    </div>
    <div class="divider">
    </div>
    <div class="quote">
     <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
     </p>
    </div>
    <div class="arrow">
     &gt;
    </div>
   </div>
  </div>
 </body>
</html>