<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>menuTiles</title>
    <link rel="stylesheet" href="menuTiels.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <div class="main-container">
      <div class="icon-bar">
        <div class="icon-item">
          <a href="" id="L-platform">
            <i class="fas fa-graduation-cap"></i>
          </a>
          <p>Learning Platform</p>
        </div>
        <div class="icon-item">
          <a href="" id="udemy">
            <i class="fas fa-book-reader"></i>
          </a>
          <p>Udemy</p>
        </div>
        <div class="icon-item">
            <a href="" id="plurasight">
                <i class="fas fa-book-open"></i>
            </a>
          <p>Plurasight</p>
        </div>
        <div class="icon-item">
            <a href="" id="reily">
                <i class="fas fa-chalkboard-teacher"></i>
            </a>
          <p>O’Reilly</p>
        </div>
        <div class="icon-item">
            <a href="" id="training-nom">
                <i class="fas fa-pencil-alt"></i>
            </a>
            <!-- <img src="Signing A Document.png" alt="Training nomination"> -->
          <p>Training nomination</p>
        </div>
        <div class="icon-item">
            <a href="" id="enroll">
                <i class="fas fa-user-graduate"></i>
            </a>
          <p>Enrollment Form</p>
        </div>
        <div class="icon-item">
            <a href="" id="matrix">
                <i class="fas fa-tasks"></i>
            </a>
          <p>Skill Matrix</p>
        </div>
        <div class="icon-item">
            <a href="" id="reqForm" >
                <i class="fas fa-clipboard"></i>
            </a>
          <p>Request Form</p>
        </div>
      </div>
    </div>
    
  </body>
</html>
