<html>
<head>
    <title>Tiles</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="menuTiles.css">
</head>
<body>
    <div class="icon-bar">
        <!-- <div class="icon-item">
          <a href="" id="LpPlatform">
            <i class="fas fa-graduation-cap"></i>
          </a>
             <p>Learning Platform</p>
        </div>
        <div class="icon-item">
          <a href="" id="udemy">
            <i class="fas fa-book-reader"></i>
          </a>
             <p>Udemy</p>
        </div>
        <div class="icon-item">
          <a href="" id="pluralSight">
            <i class="fas fa-book-open"></i>
          </a>
            <p>Pluralsight</p>
        </div>
        <div class="icon-item">
          <a href="" id="Reilly">
            <i class="fas fa-chalkboard-teacher"></i>
          </a>
            <p>O'Reilly</p>
        </div>
        <div class="icon-item">
          <a href="" id="Tnomination">
            <i class="fas fa-pencil-alt"></i>
          </a>
            <p>Training nomination</p>
        </div>
        <div class="icon-item">
          <a href="" id="Eform">
            <i class="fas fa-user-graduate"></i>
          </a>
            <p>Enrollment Form</p>
        </div>
        <div class="icon-item">
          <a href="" id="SkillMetrix">
            <i class="fas fa-tasks"></i>
          </a>
            
            <p>Skill Metrix</p>
        </div>
        <div class="icon-item">
          <a href="" id="Rform">
            <i class="fas fa-clipboard"></i>
          </a>
            <p>Request Form</p>
        </div> -->
    </div>
    <script type="module" src="fetchMenu.js"></script>
</body>
</html>