<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../css/SideBar-css/news-letter.css">
    <title>L&D | NewsLetter</title>
</head>

<body>
    <div class="newsletter">
        <p class="title">Latest Newsletter</p>
        <div class="inner-div">
            <div class="left">
                <p>Learning &amp; Development</p>
                <p class="ilp-insight"> Newsletter</p>
                <button type="button" class="newsletter-page" id="newsletter-button"></button>
            </div>
            <div class="right">
                <iframe id="newsletter-iframe" style="overflow-y: hidden;" width="625px" height="300"></iframe>
            </div>
        </div>
    </div>
</body>
<script type="module" src="../../js/front-page/newsletter.js"></script>

</html>